@font-face {
  font-family: "marker-felt";
  src: url("../fonts/Marker_Felt_Wide.ttf") format("opentype");
}

@font-face {
  font-family: "avenir-next";
  src: url("../fonts/avenir-next.otf") format("opentype");
}

@font-face {
  font-family: "poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  width: 100%;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  font-family: "avenir-next";
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  font-size: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.6) 60%,
    rgba(0, 0, 0, 0.8) 80%,
    rgba(0, 0, 0, 0.9)
  );
  box-shadow: 0 0.01em 0.5em #000;
}

#logoimg {
  width: auto;
  height: 2.4em;
  margin: 0.1em 0.3em;
}

#logoimg img {
  width: auto;
  height: 100%;
}

#nav-buttons {
  font-size: 1em;
  display: flex;
  box-sizing: border-box;
  width: 10em;
  padding: 0 1em;
  justify-content: space-between;
  align-items: center;
}

#hamburger {
  background-color: #fff;
  color: #141414;
  font-size: 1.3em;
  font-weight: 400;
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hamburger::after {
  content: attr(value);
}

#register {
  color: #fff;
  font-size: 0.8em;
  background: transparent;
  outline: 0;
  border: 0.1em solid #fff;
  height: 2em;
  width: 4.2em;
  font-weight: 600;
  border-radius: 0.4em;
  cursor: pointer;
}

#side-nav {
  font-size: 2vw;
  position: fixed;
  height: 100%;
  width: 12em;
  z-index: 1;
  top: 0;
  right: -12em;
  background-color: #444;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 3.5em 0;
}

#side-nav.active {
  right: 0em;
}

.hoverid a {
  color: #fff;
  font-size: 1.3em;
  display: block;
  width: 100%;
  text-align: center;
  height: 1em;
  margin: 0.6em 0;
  font-weight: 700;
}

.hoverid a:hover {
  font-family: "marker-felt";
  font-weight: 500;
  height: 0.7em;
  font-size: 1.4em;
  text-shadow: -0.1em 0 red;
}

#footer {
  position: fixed;
  bottom: 0;
  font-size: 2vw;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.9)
  );
  box-shadow: 0 -0.01em 0.5em #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  flex-wrap: wrap;
}

#footer #social {
  width: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer #address {
  text-align: right;
  padding: 0.1em 0;
  color: #fff;
  font-size: 0.7em;
  line-height: 1.1em;
}

#footer #social img {
  height: 0.9em;
  width: 0.9em;
  cursor: pointer;
  padding: 0.2em 0.5em;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  #navbar {
    font-size: 2.3vw;
  }

  #side-nav {
    font-size: 2.3vw;
  }

  #footer {
    font-size: 2.3vw;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #navbar {
    font-size: 3vw;
  }

  #side-nav {
    font-size: 3vw;
  }

  #footer {
    font-size: 3vw;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  #navbar {
    font-size: 3.6vw;
  }

  #side-nav {
    font-size: 3.6vw;
  }

  #footer {
    font-size: 3.6vw;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  #navbar {
    font-size: 4.3vw;
  }

  #footer {
    font-size: 4.3vw;
  }

  #side-nav {
    font-size: 4.3vw;
  }

  #footer #address {
    text-align: center;
  }
}

@media (max-width: 320px) {
  #navbar {
    font-size: 4.8vw;
  }

  #side-nav {
    font-size: 4.8vw;
  }

  #footer {
    font-size: 4.8vw;
  }

  #footer #address {
    text-align: center;
  }
}
